HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
bin/

### macOS ###
.DS_Store

### Env ###
.env
*.env.local

### Logs ###
*.log
